<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion Semillas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}" />
  </head>
  <body>

    <main class="dashboard">
      <aside class="sidebar">
        
        <div class="logo-action-container">
          <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Logo" />
          </div>
          <div class="action">
            <ion-icon name="settings-outline"></ion-icon>
          </div>
        </div>

        <nav class="sidebar-nav">
          <ul>
            <li><a href="{% url 'semilla_list' %}">Inicio</a></li>
            <li><a href="{% url 'semilla_new' %}">Agregar Semilla</a></li>
            <li><a href="{% url 'ubicacion_new' %}">Agregar Ubicacion</a></li>
            <!-- Agrega más enlaces según tus necesidades -->
          </ul>
        </nav>

      </aside>
      
      <section class="main-content">
        <header class="main-header">
          <h1>Bienvenido al Dashboard</h1>
          <p>Control total de tu sistema</p>
        </header>

        <!-- Aquí coloca el contenido principal de tu dashboard -->
        {% block contenido %}
        {% endblock %}

      </section>
    </main>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>
