# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Static files (CSS, JavaScript, Images)
/staticfiles/
*.svg
*.ico
*.gif
*.png
*.jpg
*.jpeg
*.webp
*.woff
*.woff2
*.ttf
*.otf
*.eot

# Media files
/media/

# Ignore migrations
**/migrations/

/venv/
venv/
/venv
Arata/__pycache__/urls.cpython-311.pyc
Arata/__pycache__/settings.cpython-311.pyc
Arata/__pycache__/urls.cpython-311.pyc
Arata/__pycache__/settings.cpython-311.pyc
