<!-- FILEPATH: ../Arata/Arata_app/templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arata</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <header>
        <h1>Arata Semillas</h1>
    </header>

    <nav>
        <a href="{% url 'inicio' %}">Inicio</a>
        <a href="{% url 'sobre_nosotros' %}">Sobre nosotros</a>
        <a href="{% url 'servicios' %}">Servicios</a>
        <a href="{% url 'contacto' %}">Contacto</a>
    </nav>

    <main>
        <aside>
            <h2>Barra lateral</h2>
            <p>Contenido de la barra lateral.</p>
        </aside>

        {% block contenido %}
        <section>
            <h2>Sección principal</h2>
            <p>Contenido de la sección principal.</p>
        </section>
        {% endblock %}
    </main>

    <footer>
        <p>Derechos de autor © 2023 Arata semillas</p>
    </footer>
</body>

</html>